[submodule "utils/infinigen"]
	path = utils/infinigen
	url = https://github.com/princeton-vl/Infinigen.git
	ignore = all
[submodule "utils/sam3"]
	path = utils/sam3
	url = https://github.com/facebookresearch/sam3.git
	ignore = all
[submodule "utils/sam3d"]
	path = utils/sam3d
	url = https://github.com/facebookresearch/sam-3d-objects.git
	branch = main
	ignore = all
[submodule "utils/sam"]
	path = utils/sam
	url = https://github.com/facebookresearch/segment-anything.git
	ignore = all